body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

/* Navbar */
/* Navbar Custom */
.custom-navbar {
    background-color: #0a244d !important; /* نفس لون الصورة navy */
    padding: 0.3rem 2rem; /* يعطي ارتفاع أكبر */
    transition: all 0.3s ease-in-out; /* حركة ناعمة */
    
}
.navbar-scrolled {
  box-shadow: 0 4px 12px rgba(0,0,0,0.2); /* ظل عند النزول */
  background-color: #08203a !important; /* درجة أغمق شوي */
}

/* اللوجو */
.logo-img {
    height: 55px;   /* مقاس مناسب */
    width: auto;
    object-fit: contain;
}

/* الروابط */
.custom-navbar .nav-link {
    color: #ffffff !important;
    font-weight: 600; /* خط سميك */
    font-size: 1rem;  /* نفس الحجم بالصورة */
    margin: 0 10px;   /* مسافة بين الروابط */
    transition: 0.3s;
}
.custom-navbar .nav-link:hover {
    color: #fdd835 !important; /* أصفر عند hover */
}

/* أيقونة السلة */
.btn-yellow {
    background-color: #fdd835;
    color: #000;
    font-weight: 600;
    border: none;
    transition: 0.3s;
}
.btn-yellow:hover {
    background-color: #e6c200;
    color: #000;
}

/* Cards */
.card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.card img {
    border-radius: 15px 15px 0 0;
    height: 150px;
    object-fit: cover;
}
.hero-section {
  min-height: 70vh;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden; /* لضمان عدم خروج الفيديو خارج الحاوية */
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0; /* خلف النص */
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5); /* طبقة شفافة */
  z-index: 1;
}

.hero-text {
  position: relative;
  z-index: 2;
  color: #fff;
  max-width: 1200px;
  margin-left: 60px;
  background: rgba(0, 0, 0, 0.3); /* خلفية سوداء شفافة */
  padding: 20px;                  /* مسافة داخلية */
  border-radius: 10px;            /* زوايا دائرية */
  display: inline-block; 
}

.hero-text h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.3;
}

.hero-text span {
  color: #ffc107;
}

.hero-text p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #f1f1f1;
}

.cart-btn {
  background-color: #ffc107;   /* أصفر */
  color: #001f3f;             /* نيفي */
  border-radius: 12px;        
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0,0,0,0.25);
  border: none;
  transition: all 0.3s ease;
}

.cart-btn:hover {
  background-color: #e0a800;
  transform: translateY(-2px);
}

.phone-number {
  font-size: 1rem;
  font-weight: 500;
  color: #fff;   /* أبيض عشان يبان على الناف بار النيڤي */
}




